[submodule "spec"]
	path = spec
	url = https://github.com/M-Core-Engineering/spec.git
[submodule "engine"]
	path = engine
	url = https://github.com/M-Core-Engineering/engine.git
[submodule "mobile"]
	path = mobile
	url = https://github.com/M-Core-Engineering/mobile.git
[submodule "showcase"]
	path = showcase
	url = https://github.com/M-Core-Engineering/showcase.git
[submodule "templates"]
	path = templates
	url = https://github.com/M-Core-Engineering/templates.git
[submodule ".github"]
	path = .github
	url = https://github.com/M-Core-Engineering/.github.git
[submodule "docs"]
	path = docs
	url = https://github.com/M-Core-Engineering/docs.git

[submodule ".task"]
	path = .task
	url = https://github.com/M-Core-Engineering/.task.git
